<!DOCTYPE html>
<html>
<head>
  <title>SignIn</title>
  <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
  <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
  <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
  <script src="http://backbonejs.org/backbone.js"></script>
  <!-- <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Song/SongModel.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Song/SongCollection.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Song/SongListItemView.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Song/SongsListView.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Playlist/PlaylistModel.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Playlist/PlaylistCollection.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Playlist/PlaylistsView.js"></script>
  <script src="/home/robert.cosma/work/cluj-pre-js-2016/app/backbone/Playlist/PlaylistView.js"></script> -->
  <script src="../../build/bundle.js"></script>
</head>

<body>
<div class="playlist">
  <div>
    <img src="/home/robert.cosma/work/cluj-pre-js-2016/core/assets/massive-pop-hits.png">
  </div>
  <div>
    <h1>Massive pop hits vol 1</h1>
  </div>
  <table>
    <tr>
      <th>SONG </th>
      <th>LENGHT </th>
      <th>LISTENED</th>
    </tr>
  </table>
  <script type="text/template" id="song-list-view">
    <img src=<%= image %> />
    <span class="name"><%= name %></span>
    <span class="songAuthor"><%= songAuthor %></span>
    <span class="songLength"><%= songLength %></span>
    <span class="songListened"><%= songListened %></span>
  </script>

<div id="songs">
</div>

<script>
</script>

</body>
</html>
