<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../mystyle.css">
        <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
        <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
        <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
        <script src="http://backbonejs.org/backbone.js"></script>
        <script type="text/template" id="template-SongView">
          <div class="songDiv">
            <img class="songImg" src="<%= imagePath %>">
            <div class="songNumbers" ><%= length %></div>
            <div class="songNumbers" ><%= playCount %></div>
            <span class="songTitle" class="textBiggerGri"><%= title %></span>
            <span class="textMediuGri"><%= author %></span>
          </div>
        </script>
        <script type="text/template" id="template-SongsView">
          <div id="playlists">
            <div id="closeButton">
              <img src="../../core/assets/close-icon.png" id="closeButton">
            </div >
            <div id="playlistHeader"></div>
            <div id="songs"></div>
            <div class="clearFloat"></div>
          </div>
        </script>
        <script	type="text/javascript" src="..models/song-model.js"></script>
        <script	type="text/javascript" src="../collections/song-col.js"></script>
        <script	type="text/javascript" src="../views/song-view.js"></script>

        <!-- <script>

          $(function(){
          var zongs = new SongsView({
            el: $('#page')[0],
            collection: songcol
          });
            zongs.render();

          });
        </script> -->
    </head>
    <body>
      <p>Hello!</p>
      <div id="page"></div>
    </body>
</html>
