body{
	margin:0px;
	background-color:#EEEEEE;

}

input{


	  padding: 5px 20px;
	  border: none;
	  border-radius: 4px;
	  background-color: #f8f8f8;
  }

.container{
	background-image: url(../core/assets/banner-app.jpg);
	height:65%;
background-size: cover;
	text-align:center;

}

  .search_text{
	  display:block;
	  font-size:x-large;
	  color:white;
	  font-weight: bold;
  }

  .playlist{
	   float:left;
	   width:330px;
	   height:350px;
     margin-top:2%;
		 margin-left:3%;
     background-color:white;
	  }

		.playlist1{
      background-color: rgba(0, 0, 0, 0);
		  width:70%;
		  height:360px;
     	margin:-180px auto 0 auto;
		  }


.clear{
  clear:both;
}

.hidden_button {
  display:none;

}


.playlist:hover{
  transform: translate(0,-15px);
	transition:0.5s;
	box-shadow: 10px 10px 5px #888888;

}
.playlist:hover form input{
	visibility:visible;

}

.playlist:hover form {
background-color: rgba(0, 0, 0 ,0.4);

}


input[type=submit],input[type=button]{

	  background-color:  #08BAFC;
	  border:none;
	  color:white;
	  text-decoration: none;
      margin: 5px auto;
	  border-radius: 4px;
		font-weight: bold;
}
#button_signin{

	  margin: 35% auto 15% auto;
	  width:100%;
	  height:30%;
}
 #search{
		 color:white;
		 font-size: 20px;
	   width:100%;
	   margin-top:5%;
	   height:8%;
	   padding:6px 15px 6px 35px;
	   border:1px solid;
	   background: url('../core/assets/search-icon.png') no-repeat 8px;
	   border-radius:4px;
	   background-color:transparent;
	   opacity:1;
     color:#bcbcbc;
}
   #span_search{
	   margin-top:9%;
 }
   #span_search1{
	   margin-top:8%;
	   font-size:xx-large;
		 padding-bottom: 2%;

   }
   #button_join{
		 font-size: 17px;
	   margin-top:25px;
	   width:180px;
	   height:50px;
	   background-color:#67DE94;
		 font-weight: bold;
}
#position_centred{
	margin: 20% auto 15% auto;
	display:block;
	width:100%;
   }
#left{
	margin-left:3%;
	float:left;
  width:8%;
	height:20%;
     }
#right{
	margin-right:3%;
	float:right;
  width:7%;
	height:20%;
}
#center{
	float:left;
	margin-left:14%;
	width:50%;
	height:80%;
   }
.img_blc1{
  width:100%;
	height:70%;
}
.text_blc{
	  margin-left:15px;
	  margin-top:15px;
	  display:block;
	  font-size:medium;
	  color:black;
	  font-weight: bold;
}
 .form_playlist{
  background-color: rgba(0, 0, 0 ,0);
  position: absolute;
	z-index:0;
	top:0;
	left:0;
	width:100%;
	height: 70%;

}

.button_playlist{
	display:block;
visibility: hidden;
 margin-left: 20%;
 height: 23%;
 width: 60%;
}
#button_playlist_top{
 margin-top: 30%;
}
#position_relative{
position:relative;
height:100%;

}

.text_blc2{
    font-size:11px;
	  color:#ADADAD;
	  font-weight: none;
	  margin-top:5px;

}





.pop_playlist{

 position:fixed;
 background-color: white;
 width:700px;
 height:0px;
 left:5%;
 bottom:0;
}


.info_playlist{
	float:left;


}
#img_playlist{

height:100%;
width:30%;


}

#text_playlist{
background-color: #EEEEEE;
width:70%;
height:100%;

}


#close_button{
	margin-left: 98%;

  width:100%;
 	height: 2%;


}
#close_button img{
	margin-top: 2px;
}

#footer_playlist{


	width:100%;
	height: 20%;
}
#name_songs{
    overflow: scroll;
	margin:3% auto 0 auto;

	width:95%;
	height: 78%;
}

.img_blc2{
	width:100%;
	height:100%;

}


#text_playlist1{
	display:block;
	font-size: 15px;
	margin-top: 40px;
	margin-left: 20px


}



#text_playlist2{
	display:block;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 20px;
	font-size:35px;
}

.info_song{
margin:3% auto 0 auto;

width:95%;
height: 30px;
background-color: #EEEEEE;


}

.display1
{color:#888888;
	margin-top: 5px;
display:inline-block;

}
.display2
{
display:block;
margin-top: 5px;


}

#name_song_size{
width:75%;
margin-left:10px;
}

#name_song_leght{
margin-left: 30px;


}

.card {
	float:left;
	height: 75%;

   margin-top: 10px;
}

#container1{

    height:15%;
	border-bottom: 1px solid #EEEEEE;
}
#container1:hover{

	background-color:#E1F7FD;
	color:#28BEFC;

}


#photo_song_small{
  margin-left: 5px;
	width:10%;
}
#name_song_small{

  margin-left: 5px;
	width:67%;
}

#leght_song_small{
width:10%;

}
#time_song_small{
	margin-left: 20px;
	width:8%;
}

#title_id{
font-size:25px;
}
#subtitle_id{
color:#888888;
}

#ascuns{
	display:none;
	position:fixed;
	width:0px;
	height:0px;


}
