<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home page</title>
    <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
    <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
    <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>
  </head>
  <body id="home">
    <div id="page"></div>
    <div id="auth"></div>
    <div id="sign-up-page"></div>

    <script type="text/template" id="template-PageView">
      <div id="index-header"></div>
      <div id="index-content"></div>
      <div id="index-card-area"></div>
      <div id="footer"></div>
    </script>

    <script type="text/template" id="template-SignUpPageView">
      <div id="sign-up-top"></div>
      <div id="sign-up-content"></div>
      <div id="sign-up-footer"></div>
    </script>

    <script type="text/template" id="template-HeaderView">
      <div id="logo_div">
        <a href="index.html"><img src="../core/assets/logo-top.png" id="logo" alt="Image not found"/></a>
      </div>
      <div id="search">
        <img src="../core/assets/search-icon.png" id="search_img" alt="Image not found"/>
        <form action="" method="get">
          <input id="search_box" type="text" name="search" placeholder="Search Music"/>
        </form>
      </div>
      <div id="sign_in_div">
        <a href="index.html#login"><button id="sign_in_button" type="button" name="sign_in">Sign in</button></a>
      </div>
    </script>

    <script type="text/template" id="template-ContentView">
      <p style="color:white"><strong>Ready to listen to endless music<br/> on your favorite device?</strong></p>
      <a href="index.html#signup"><button id="join_now_button" type="button" name="join_now">JOIN NOW</button></a><br/><br/><br/>
      <p id ="promise" style="color:white">Epic and debauched party mixes</p><br/><br/>
  	</script>

    <script type="text/template" id="template-PlaylistsView">
      <ul class='playlists-view'>

      </ul>
    </script>

  	<script type="text/template" id="template-PlaylistView">
      <div class="card" id="<%= id %>">
        <div class="mat">
        </div>
        <button class="explore" type="button" name="explore_playlist"><img src="../core/assets/play-icon.png" alt="Image not found"/> Explore playlist</button>
        <img id="card-image" src="<%= imageLarge %>"/>
        <div class="playlist-content">
          <p><strong id="title"><%= title %></strong></p>
          <p id="description"><%= description %></p>
        </div>
      </div>
  	</script>

    <script type="text/template" id="template-SongsListView">
      <div id="close">
        <span class="close-button">CLOSE<img id="close-icon" src="../core/assets/close-icon.png" alt="Image not found"/></span>
      </div>
      <div class="playing-from">
        <table class="songs-list-header">

        </table>
      </div>
        <table id="playlist-songs" align="center" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th colspan="2">
            SONG
          </th>
          <th>
            LENGTH
          </th>
          <th>
            LISTENED
          </th>
        </tr>
      </thead>
      <tbody id="playlist-songs-body"></tbody>
      </table>
    </script>

    <script type="text/template" id="template-SongRowView">
      <td>
        <img class=songImage src="<%= image %>"/>
      </td>
      <td>
        <%= songName %><br/>
        <%= songAlbum %>
      </td>
      <td>
        <%= songLength %>
      </td>
      <td>

      </td>
    </script>

    <script type="text/template" id="template-SongsListHeader">
          <td>
            <img class="song-list-header-image" src="<%= imageSmall %>"/>
          </td>
          <td class="header-text">
            <span class="song-list-header-text">
              Playing from: <br />
            </span>
            <span class="song-list-header-text">
              <%= title %>
            </span>
          </td>
  	</script>

    <script type="text/template" id="template-FooterView">
      <p id="copyrighthome">&copy; 2016 ACMEDIVISION ALL RIGHTS RESERVED</p>
    </script>

    <script type="text/template" id="template-UserView">
      <div id="authentication">
        <div id="login_div" align="center">
          <img src="../core/assets/logo-color.png" alt="Image not found"/>
          <p><b>Sign into your ACME account</b></p>
          <p id="error"></p>
          <form action="" method="post" id="login_form">
            <label for="email">Email</label><br/>
            <input class="email" type="text" name="email" required/><br/><br/>
            <label for="password">Password</label><br/>
            <input class="password" type="password" name="password" required/><br/><br/>
            <a href="" id="forgot_pass">Forgot password ?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="sign_in" type="submit" name="submit" value="Sign in"/><br/><br/><br/>
          </form><br/>
          <span>Don't have an account ?<a id="sign_up" href="sign_up.html"> Sign up here</a>
          </span><br/><br/>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-SignUpTopView">
      <div id="top" align="center">
      <div id="start_up">
        <a href="home.html"><img src="../core/assets/logo-top.png" id="sign_up_logo" alt="Image not found"/></a>
        <h1>Startup Landing Page<br/> For Your Product</h1>
        <p>The world's leading Lorem ipsum dolor sit<br/> amet, consectetur adipiscing elit,
          sed do</p>
        <a href="">Learn more</a><br/><br/>
        <p id="featured">AS FEATURED IN:</p>
        <img src="../core/assets/tnw-logo.png" class="start_up" alt="Image not found"/>
        <img src="../core/assets/forbes-logo.png" class="start_up" alt="Image not found"/>
        <img src="../core/assets/natgeo-logo.png" class="start_up" alt="Image not found"/>
        <img src="../core/assets/finextra-logo.png" class="start_up" alt="Image not found"/>
      </div>
      <div id="sign_up_div" align="center">
      <p><b>Sign up for an ACME account</b></p>
      <p>Get Started Absolutely FREE</p>
      <p>NO CREDIT CARD NEEDED</p>
        <form action="" method="post" id="sign_up_form">
          <label for="name">Your name</label><br/>
          <input id="your_name" type="text" name="name" required/><br/><br/>
          <label for="email">Email</label><br/>
          <input type="email" name="email" required/><br/><br/>
          <label for="password">Password</label><br/>
          <input type="password" name="password" required/>
        </form><br/><br/>
        <input class="sign_up" type="submit" name="submit" form="sign_up_form" value="Sign up free"/><br/><br/>
        <p id="terms">By clicking  "Sign Up Free" I agree to ACME's <a href="">Terms of Service</a></p>
      </div>
    </div>
    </script>

    <script type="text/template" id="template-SignUpContentView">
      <div id="stunning">
      <h1>A stunning and robust app showcase.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br/>
        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br/><br/><br/>
      <div id="business">
        <img src="../core/assets/business-icon.png" alt="Image not found"/><br/>
        <p><b>Good Business</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur<br/> adipiscing elit,sed do
          eiusmod tempor</p>
      </div>
      <div id="functionality">
        <img src="../core/assets/robot-icon.png" alt="Image not found"/><br/>
        <p><b>Amazing functionality</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur<br/> adipiscing elit,sed do
          eiusmod tempor</p>
      </div>
      <div id="performance">
        <img src="../core/assets/performance-icon.png" alt="Image not found"/><br/>
        <p><b>Optimized for performance</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur<br/> adipiscing elit,sed do
          eiusmod tempor</p>
      </div>
    </div><br/><br/><br/><br/>
    <div id="stuff"><br/><br/><br/><br/><br/><br/><br/>
      <img id="phone" src="../core/assets/phone-app.png" class="stuff" alt="Image not found"/>
      <img id="music" src="../core/assets/music-app.png" class="stuff" alt="Image not found"/>
      <img id="weather" src="../core/assets/weather-app.png" class="stuff" alt="Image not found"/><br/>
      <img id="time" src="../core/assets/time-app.png" class="stuff" alt="Image not found"/>
      <img id="location" src="../core/assets/location-app.png" class="stuff" alt="Image not found"/>
      <h1>More awesome stuff</h1>
      <img id="photo" src="../core/assets/photo-app.png" class="stuff" alt="Image not found"/>
      <img id="mail" src="../core/assets/mail-app.png" class="stuff" alt="Image not found"/>
      <p>Add up to 50,000 apps from our store to all<br/> your devices.</p>
    </div><br/><br/><br/><br/>
    <div id="benefits">
      <strong> What you'll get</strong><br/><br/><br/>
      <table align="center" cellpadding="10px">
        <tr>
          <th colspan="2" id="goodies_th">
            Free goodies
          </th>
          <th id="feature_th">
              Features
          </th>
          <th>
            Free
          </th>
          <th>
            Premium
          </th>
        </tr>
        <tr>
          <td rowspan="3">
            <img src="../core/assets/galaxy-icon.png" alt="Image not found"/>
          </td>
          <td rowspan="3" align="left">
            Acces 35 million<br/> songs on-demand<br/> and ad-free
          </td>
          <td class="feature">
            Listen  on Android, iOS, and the web
          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td class="feature">
            Store up to 50,000 of your iTunes songs
          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td class="feature">
            Get recommendations based on your taste
          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <img src="../core/assets/swiss-army-knife-icon.png" alt="Image not found"/>
          </td>
          <td rowspan="2" align="left">
            Over 50 free<br/> premium tools
          </td>
          <td class="feature">
            Curated radio for anything you want to hear
          </td>
          <td class="check">

          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td class="feature">
            On-demand access to over 35 million songs
          </td>
          <td class="check">

          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td rowspan="3">
            <img src="../core/assets/storage-icon.png" alt="Image not found"/>
          </td>
          <td rowspan="3" align="left">
            5 GB of free<br/> storage space
          </td>
          <td class="feature">
            Ad-free,uninterrupted listening
          </td>
          <td class="check">

          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td class="feature">
            Download music to play when you're not connected
          </td>
          <td class="check">

          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
        <tr>
          <td class="feature">
            Skip as many songs as you want
          </td>
          <td class="check">

          </td>
          <td class="check">
            <img src="../core/assets/check-icon.png" class="benefits" alt="Image not found"/>
          </td>
        </tr>
      </table><br/><br/>
        <button id="sign_up_button" class="sign_up" type="button" name="sign_up_button">Sign up free</button>
    </div>
    </script>

    <script type="text/template" id="template-SignUpFooterView">
      <div id="footer">
       <div id="apps">
         <img src="../core/assets/logo-gray.png" alt="Image not found"/><br/><br/><br/><br/>
         <h1>All your favorite apps on<br/> all your favorite devices</h1>
         <a href="https://itunes.apple.com/us/genre/ios/id36?mt=8" target="_blank">
           <img src="../core/assets/app-store.png" alt="Image not found"/></a>&nbsp;&nbsp;&nbsp;
         <a href="https://play.google.com/store" target="_blank">
           <img src="../core/assets/google-play.png" alt="Image not found"/></a>
         <p id="copyright"></p>
       </div>
       <div id="devices" align="center">
         <img src="../core/assets/devices.jpg" alt="Image not found"/>
       </div>
     </div>
    </script>

    <script type="text/javascript" src="../build/bundle.js"></script>
  </body>
</html>
