body {
background-image: url(../core/assets/banner-app.jpg);
font-family: "Times New Roman", Georgia, Serif;
}

a{
	text-decoration: none;
    color: #66a3ff;
	}

h5{
	font-size:14px;
}

#login_form {
background-color:white;
width:260px;
margin:100px auto 0 auto;
text-align:center;

  
  }
  
  input{
	  width:200px;
	  margin-bottom:6px;
	  margin-top:2px;
	  padding: 5px 20px;
	  border: none;
	  border-radius: 4px;
	  background-color: #f8f8f8;
  }
  input[type=submit]{
	  width:113px;
	  background-color:  #66a3ff;
	  border:none;
	  color:white;
	  text-decoration: none;
      margin: 5px auto;
	  padding: 5px 20px;
  }
  .align_left{
	  text-align:left;
	  margin-left:30px;
	  font-size:13px;
	  
  }
  .size{
	  font-size:12px;
  }
  img{
	  margin-top:30px;
	  width:80px;
  }
  #bottom1{
	  padding-bottom:30px;
	  color:#8a8a5c;
  }