body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2B2B2B;
}
::-webkit-input-placeholder {
    color:    white;
}
:-moz-placeholder {
    color:    white;
}
::-moz-placeholder {
    color:    white;
}
:-ms-input-placeholder {
    color:    white;
}


#header{
  background:url('../core/assets/banner-top.jpg');
  height: 650px;
  width: auto;
  color:white;
}
#loginStatusContainer{
  float: right;
  margin-right: 10px;
}

.loginBackground{
  height: 1000px;
  width: 100%;
  background: url('../core/assets/banner-app.jpg');
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
input{
  outline: none;
}

.footer{
  height: 650px;
  position: relative;
  background-color: #E5E5E5;
  background-image:url('../core/assets/devices.jpg');
  background-repeat:no-repeat;
  background-position:right bottom;
}
.divFooter{
  width: 500px;
  height: 400px;
  background-color: #E5E5E5;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 15%;
  text-align: left;
  z-index: 100;
}
.appStoreButton{
  display: block;
  width: 162px;
  height: 48px;
  background-image: url('../core/assets/app-store.png');
  background-repeat: no-repeat;
  float:left;
  margin-right: 30px;
}
#googlePlayButton{
  background-image: url('../core/assets/google-play.png');
}
.devicesImage{
  display: block;
  position: absolute;
  width: 1014;
  height: 549;
  bottom: 0;
  right: 0;
}
#signUpDiv{
  width:450px;
  height:500px;
  background-color: white;
  border-radius: 5px;
  float:left;
  text-align: center;
  margin-left: 10px;
  margin-top: 100px;

}
.clearFloat{
  clear:both;
}

.textHeader{
  width:600px;
  height:500px;
  margin-left: 20%;
  border-radius: 5px;
  text-align: left;
  float:left;
  margin-top: 100px;
  color:white;
}
#signUpForm{
  padding: 80px 50px 50px 15%;
  text-align: left;
  color: #2B2B2B;
  outline: none;

}
#metallicaBio{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 40px;
  text-align: left;
}
#metallicaBio img{
  width: 300px;
  height: 250px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  border: 1px solid gray;

}
.SU-input{
  height: 35px;
  width: 300px;
  border-radius: 5px;
  border:1px solid #EBEDED;
  font-size: 1.2em;
  padding: 2px;
  background-color: #EBEDED;
  color:grey;
}
.submitSignUp{
  background-color: #1DBFF5;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  margin-left: 60px;
  margin-top:20px;
  display:block;
}
a.submitSignUp {
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
#signUpforACME{
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  margin-top: 20px;
  color: #2B2B2B;
}
#getStarted{
  color:grey;
  display:block;
  margin-top: 30px;
}
.ByClicking{
  font-size: small;
  color: grey;
}
#textHeader a:visited,#textHeader a:link{
  color:white;
  font-size: small;
  font-weight: bold;
}
#textHeader img{
  margin-right: 20px;
}
#textHeader p{
  font-size: 1.4em;
}
#textHeader div{
  color:lightgrey;
  font-size: small;
  font-weight: bold;
  margin-top: 50px;
}
#centeredWrapper{
  background-color: pink;
  width:74%;
  margin-left: auto;
  margin-right: auto;
}
.BlackTextBold{
  font-size: 1.6em;
  font-weight: bold;

}
.textMediuGri{
  font-size: 0.9em;
  color:grey;
}
.textBiggerGri{
  font-size: 1.2em;
}
.bottomDiv{
  margin-top: 60px;
  margin-bottom: 50px;
  width:400px;
  float:left;
}
.cardBottomDiv{
  height: 350px;
  width: 350px;
  float:left;
  background-color: white;
  margin-top: -175px;
  margin-bottom: 275px;
  margin-left: 50px;
  margin-right: 50px;
  transition: 0.3s;
}
.cardOverlay{
  background-color: gray;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 350px;
  top: 350px;
  display: none;
}
.cardBottomDiv:hover{
  margin-top: -195px;
  box-shadow: 0px 20px 20px #888888;
}
#starsDiv{
  background:url('../core/assets/stars-bg.jpg');
  height: 350px;
  padding-top: 100px;
}
.textMareAlbBold{
  font-weight: bold;
  font-size: 1.6em;
  color:white;
}

.perksTable{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
}
.perksTable table {
  border: 1px solid lightblue;
  border-collapse: collapse;
  height: 30px;
  vertical-align: middle;
  background-color: #E8FFFF;
  text-align: left;
  margin-left: auto;
  margin-left: auto;
}
.perksTable th, td {
  height: 30px;
  border-left: none;
  border-right: none;
  padding-right: 10px;
  padding-left: 10px;
}

.perksTable table th:nth-of-type(2){
  width: 500px;

}
.perksTable table th:nth-of-type(1){
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
}
.perksTableImg{

  margin: 60px 10px 60px 0px;

}
.perksTableImg img{
  vertical-align: middle;
}
.checkImage{
  margin-left: 20px;
}
#signInButton{
  float: right;
  margin-right: 10px;
  width:100px;
  height: 40px;
}
#signOutButton{
  float: right;
  margin-right: 10px;
  width:100px;
  height: 40px;
}
#welcomeMessage{
  margin-top: 30px;
  margin-right: 10px;
  float:right;
  color: lightgrey;
}
.floatLeft{
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
.searchBar{
  box-sizing: border-box;
  height: 40px;
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, .3);
  font-size: 1.2em;
  color:white;
  margin-left:  auto;
  margin-right: auto;
}
#joinNow{
  background-color: #67DE94;
  margin-bottom: 60px;
}
.bookThumbail{
  width: auto;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;
}
.playlistLargeImage{
  width: 100%;
  height: 100%;
  position: absolute;

}
.cardText{
  box-sizing: border-box;
  height: auto;
  width: 350;
  text-align: left;
  padding: 20px;
}
.explorePlaylist{
  text-align: center;
  background-color: #1DBFF5;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  position: absolute;
  margin-top: 110px;
  margin-left: 80px;
  box-sizing: border-box;
  padding-top: 15px;
  display:none;
  z-index: 100;
  text-decoration: none;
}

.cardBottomDiv:hover .explorePlaylist {
  display: block;
}

.cardBottomDiv:hover .cardOverlay{
  display: block;
  right: 0px;
  top: 0px;
  opacity: .7;
}
#playlists{
  background-color: white;
  height: 800px;
  width: 600px;
  position: fixed;
  bottom:10px;
  left: -600px;
  z-index: 200;
  overflow: scroll;

}

#closeButton{
  text-align: right;
  padding: 4px;
}
#playlistHeader{
  height: 135px;
  width: auto;
  background-color: #EEEEEE;
}
#songs{
  padding: 15px;
}
.songDiv{
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  border-bottom: 1px solid #EEEEEE;
  text-align: left;
}
.songImg{
  height: 100%;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}
.songNumbers{
  width: 15%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  font-size: 0.9em;
  color:grey;
  font-weight: bold;
}
.songTitle{
  font-weight: bold;
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
}

.songDiv:hover{
  background-color: lightblue;
}
.songDiv:hover {
  background-color: lightblue;
}
.songDiv:hover .songTitle{
  color: #007bff;
}

/*login style*/

#signInDiv{
  position: absolute;
  width:400px;
  height:500px;
  background-color: white;
  border-radius: 5px;
  margin-left: 40%;
  margin-top: 10%;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding-top: 40px;
}
#signInForm{
  padding: 20px 50px 50px 50px;
  text-align: left;


}
.SU-input{
  height: 35px;
  width: 300px;
  border-radius: 5px;
  border:1px solid darkgrey;
  font-size: 1.2em;
  padding: 2px;
  padding-left: 10px;
  color:darkgrey;
  outline: none;
}
#submitSignIn{
  background-color: #1DBFF5;
  height: 50px;
  width: 150px;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  margin-left: 10px;

}
#SignInSpan{
  display:block;
  font-weight: bold;
  font-size: 1.2em;

}
#SignInError{
  display:block;
}
.error{
  color:red;
  font-size: small;
}
.acmelogo{
  background:url('../core/assets/logo-color.png');
  width:158px;
  height:57px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#ForgotPassw{
  color:#1DBFF5;
  text-decoration: none;
  display: block;
  float:left;
}
