.header {
  background-image: url("/home/robert.cosma/work/cluj-pre-js-2016/core/assets/banner-app.jpg");
  background-size: cover;
  height: 700px;
}

img {
  margin-top: 40px;
  margin-left: 40px;
}

.search {
  height: 25px;
  width: 500px;
  background-color: #FFFFFF;
  margin-left: 400px;
}

.icon {
  margin-left: -530px;
}

.signin {
  background-color: #33ccff;
  color:#ffffff;
  border:1px  #0000ff;
  font-size: 20px;
  margin-left: 55px;
  float:right;
  margin-right: 200px;
  margin-top: -25px;
}

.text {
  color:#FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  margin-left: -80px;
}

#join {
  background-color: #00cc00;
  color:#ffffff;
  border:1px  #0000ff;
  font-size: 20px;
  margin-left: 800px;
  margin-top: 50px;
}

#header-text {
  color: #FFFFFF;
  margin-left: 600px;
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.box1 p {
  padding-left: 37px;
}

.box2 p {
  padding-left: 37px;
}

.box3 p {
  padding-left: 37px;
}

.box1 {
  border: 1px;
  width: 430px;
  margin-left: 240px;
  margin-top: -150px;

}

.box2 {
  border: 1px;
  width: 430px;
  margin-left: 700px;
  margin-top: -380px;
}

.box3 {
  border: 1px;
  width: 430px;
  margin-left: 1150px;
  margin-top: -380px;
}

.box-title {
  font-weight: bold;
  font-size: 20px;
}

.box-content {
  color: #a6a6a6;
}

.explore {
  display: none;
}

.container div:hover .explore {
  display: block;
}

.container > div:hover{
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transform: translateY(-60px);
}



#copyright {
  font-weight: lighter;
  font-size: 16px;
  color: #999999;
  padding-left:57px;
  padding-top: 100px;
}

.explore {
  background-color: #33ccff;
  background-image: url("/home/robert.cosma/work/cluj-pre-js-2016/core/assets/play-icon.png");
  background-position: left;
  background-repeat: no-repeat;
  color:#ffffff;
  width: 190px;
  font-size: 17px;
  position: absolute;
  margin-top: 150px;
  margin-left: 130px;
}

.popup {
  width:720px;
  height: 900px;
  border:1px solid ;
  position:absolute;
  margin-left: 50px;
  margin-top: -700px;
  background-color: white;
  visibility: hidden;
}

#close {
  float:right;
  margin-right: 50px;
  margin-top: 36px;
  color:#33ccff;
  font-weight: bold;
  display: inline-block;
  width:10%;
}

#close-icon {
  position: absolute;
  padding-top: -260px;
  padding-left: 610px;
}

.playlist-pop-up {
  margin-top: 60px;
  background-color: #d9d9d9;
  width: 100%;
  height: 200px;
}

#playing-from {
  position: absolute;
  margin-left: 242px;
  margin-top: -100px;
}

#up-all-night {
  font-size: 28px;
  font-weight: bold;
  margin-left: 240px;
  margin-top: -50px;
}

.description-list {
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

#song {

  padding-left: 10px;
  padding-right: 360px;
}

#length {
  padding-right: 100px;
}

.content-list{
  position: absolute;
}

#song1 {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  padding-left: 100px;
  margin-top: -50px;
  width:200px;
}

#by1 {
  color: #999999;
  margin-left: 100px;
  margin-top: -20px;
}

#length1 {
  padding-left: 245px;
}

#listened1 {
  padding-left: 150px;
}
