body{
  margin:0px;
  padding:0px;
}

body#home{
  background-color: rgba(211,211,211,0.6);
}

body.login{
  background-image: url("../core/assets/banner-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

html.login{
  height: 100%;
}

a#sign_up{
  text-decoration: none;
  color:#00bfff;
}

div#sign_up_div{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid white;
  padding:40px;
  border-radius: 3px 3px 3px 3px;
  margin-top: 50px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

div#login_div{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid grey;
  padding:40px;
  border-radius: 3px 3px 3px 3px;
  margin-top: 90px;
  background-color: white;
}

div#index-header{
  background-image: url("../core/assets/banner-app.jpg");
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

div#logo_div, div#search, div#sign_in_div{
  display: inline-block;

}

input#search_box{
  background-color:transparent;
  border: 0px;
  color: white;
  font-size: 16px;
  width: 95%;
  height: 35px;
}

input#search_box:focus{
  outline:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 16px;
}

button#sign_in_button{
  background-color:	#00bfff;
  border-color: #00bfff;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  border:0px;
  font-size: 16px;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  color:white;
  font-weight: bold;
  vertical-align: top;
  margin-top: 58px;
}

div#search{
  color:#F8F8FF;
  background-color:rgba(255, 255, 255,0.3);
  width:40%;
  height: 35px;
  padding: 7px;
  border-radius: 3px;
  border: 0px;
  margin-left: -120px;
  margin-right: -140px;
  display:inline-block;
  vertical-align: top;
  margin-top: 50px;
}

div#search form{
  width:93%;
}

img#logo{
  margin-top: 32px;
  vertical-align: top;
}

img#search_img{
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}


div#index-content{
  margin-top: -350px;
  text-align: center;
}

button#join_now_button{
  background-color:	rgb(0, 219, 113);
  border-color: rgb(0, 219, 113);
  border-radius: 3px;
  width: 185px;
  height: 40px;
  border:0px;
  font-size: 18px;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  color:white;
  font-weight: bold;
}

div#logo_div{
  width: 33%;
  text-align: left;
}

div#sign_in_div{
  width: 33%;
  text-align: right;
}

form{
  display: inline-block;
  text-align: left;
}

input[type=submit]#sign_in{
  background-color:	#00bfff;
  border-color: #00bfff;
  border-radius: 3px;
  width: 160px;
  height: 40px;
  border:0px;
  font-size: 16px;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  color:white;
  font-weight: bold;
}

a#forgot_pass{
  color:#00bfff;
  text-decoration: none;
}

div#login_div input[type=email],div#login_div input[type=password]{
  width: 292px;
  background-color:rgba(128,128,128 ,0.2);
  padding: 7px;
  border-radius: 3px;
  height:20px;
  font-weight: bold;
  outline: none;
  border: 1px solid rgba(128,128,128 ,0.2);
}

div#sign_up_div input[type=text],div#sign_up_div input[type=email],div#sign_up_div input[type=password]{
  width: 292px;
  background-color:rgba(128,128,128 ,0.2);
  padding: 7px;
  border-radius: 3px;
  height:20px;
  font-weight: bold;
  outline: none;
  border: 1px solid rgba(128,128,128 ,0.2);
}

.sign_up{
  background-color:	#00bfff;
  border-color: #00bfff;
  border-radius: 3px;
  width: 160px;
  height: 40px;
  border:0px;
  font-size: 16px;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  color:white;
  font-weight: bold;
}

label{
  font-weight: bold;
}

div#top{
  background-image: url("../core/assets/banner-top.jpg");
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}

div#start_up{
  display: inline-block;
  text-align: left;
  color:white;
}

div#start_up a{
  color:white;
}

img.start_up{
  margin-right: 30px;
}

p#featured{
  margin-top: 160px;
}

img#sign_up_logo{
  margin-top: 40px;
  margin-bottom: 30px;
}

div#stunning{
  text-align: center;
}

div#business{
  display: inline-block;
  text-align: center;
  margin-right: 120px;
}

div#functionality{
  display: inline-block;
  text-align: center;
  margin-right: 120px;
}

div#performance{
  display: inline-block;
  text-align: center;
}

p#terms a{
  color: #00bfff;
  text-decoration: none;
}

div#stuff{
  background-image: url("../core/assets/stars-bg.jpg");
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

div#stuff p{
  font-family: monospace;
  font-size: 22px;
}

div#stuff h1{
  display: inline-block;
}

img.stuff{
  display: inline-block;
}

img#location{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: -40px;
  margin-bottom: 40px;
}

img#time{
  margin-left: -30px;
  margin-top: 5px;
  margin-bottom: -5px;
}

img#photo{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: -20px;
}

img#mail{
  margin-right: -30px;
}

img#phone{
margin-left: -210px;
margin-right: 200px;
}

img#music{
margin-right: 70px;

}

div#benefits{
  height: 580px;
  text-align: center;
}

table{
  text-align:center;
  border-collapse: collapse;
  border: 1px solid lightblue;
  width:800px;
}

th{
  text-align: left;
  border-bottom: 1px solid lightblue;
}

th#goodies_th{
  padding-left: 15px;
}

th#feature_th{
  padding-left: 30px;
}

td.feature{
  text-align: left;
  border-bottom: 1px solid lightblue;
  background-color: #F0F8FF;
  padding-left: 30px;
}

td.check{
  border-bottom: 1px solid lightblue;
  background-color: #F0F8FF;
}

div#footer{
  height: 610px;
  background-color:rgba(211,211,211,0.6);
  text-align: center;
}

div#apps{
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-top: 110px;
  margin-right: 180px;
}

div#devices{
  margin-right: -288px;
  padding:60px 0px 0px 0px;
  display: inline-block;
}

p#copyright{
  margin-top: 130px;
}

div#index-card-area{
  text-align: left;
  margin-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

div.card{
  display: inline-block;
  max-width: 360px;
  width: 360px;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
  margin-left: 25px;
  margin-bottom: 30px;
  transition: 1s;
  position: relative;
}

div.card>img{
  max-width: 360px;
  width: 360px;
  max-height: 224px;
}

div.card p{
  text-align: left;
  padding: 0px 15px 0px 15px;
}

  div.card:hover{

  transform: translate(0,-15px);
  box-shadow: 1px 10px 15px rgba(0,0,0,0.2);
  visibility:visible;
}

button.explore{
  background-color:	#00bfff;
  border-color: #00bfff;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  border:0px;
  font-size: 16px;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  color:white;
  font-weight: bold;
  position: absolute;
  margin-left: 80px;
  margin-top: 100px;
  visibility: hidden;
  z-index: 1;
}

div.card:hover button{
  visibility:visible;
}

div.card:hover div.mat{
  position: absolute;
  width: 360px;
  height: 224px;
  background-color:rgba(70,130,180,0.6);
}

div#playlist{
  position: fixed;
  left: 60px;
  border: 1px solid white;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  border-radius: 3px 3px 3px 3px;
  width:40%;
  height:0;
  z-index: 3;
  background-color: white;
  bottom: -12px;
  display: inline-block;
  padding: 5px;
  transition: 1s;
  overflow-y: auto;
}

div#close{
  background-color: white;
  text-align: right;
}

span.close-button{
display: inline-block;
color:#00bfff;
cursor: pointer;
}

img#close-icon{
  margin-top: 2px;
  display: inline-block;
  margin-left: 5px;
}

p#copyrighthome{
  margin-top: 90px;
  margin-left: 8%;
  margin-bottom: 40px;
}

.playlist-expand{
  transition: 1s;
  transform: translate(0,-500px);
  position: absolute;
  border: 1px solid white;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
  border-radius: 3px 3px 3px 3px;
  width:30%;
  height: 60%;
  z-index: 3;
  background-color: white;
  display: inline-block;
  padding: 5px;
  overflow-y: auto;


}

div#playing-from{
  border:1px solid black;
  height:135px;
  background-color: rgba(211,211,211,0.6);
}

table#playlist-songs{
  border:0px;
  margin-top: 20px;
  margin-left:auto;
  margin-right: auto;
  width:100%;
}

p#error{
  color:red;
  font-weight: bold;
  font-size: 14px;
}

table#playlist-songs tr.newRow:hover{
  background-color:rgba(0,191,255,0.1);
  cursor:pointer;
}

table#playlist-songs tr{
  border-bottom: 1px solid black;
}

table#playlist-songs thead{
  background-color: rgba(211,211,211,0.6);
}

table#playlist-songs thead tr{
  border:0px solid;
}


table#playlist-songs th{
  border:0px solid;
  text-align: center;
}

table#playlist-songs th:nth-child(1){
  text-align: left;
  padding-left: 12px;
}

table#playlist-songs tr td:nth-child(2){
  text-align: left;
}

table#playlist-songs tr td{
  padding: 10px 0px 6px 0px;
}

div#login_div input.focus{
  background-color: rgba(0,191,255,0.1);
  border:1px solid rgb(0,191,255);
}

div#login_div input.blur{
  background-color: rgba(128,128,128 ,0.2);
  border:1px solid rgba(128,128,128 ,0.2);
}

div#login_div input.login-error{
  background-color: rgba(255,0,0,0.1);
  border:1px solid rgb(255,0,0);
}

div#sign_up_div input.focus{
  background-color: rgba(0,191,255,0.1);
  border:1px solid rgb(0,191,255);
}

div#sign_up_div input.blur{
  background-color: rgba(128,128,128 ,0.2);
  border:1px solid rgba(128,128,128 ,0.2);
}

ul.playlists-view li{
  list-style-type: none;
  display: inline-block;
}
