<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
		<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
		<link rel="stylesheet" type="text/css" href="style-search-page.css">

	</head>
	<body>

		<script type="text/template" id="log-in-container-view">
      <img src="../core/assets/logo-color.png" >

      <h3 align="center"> Sign into your ACME acccount </h3>

      <form name="loginForm" method="post">

		    <label>Email</label><br>
		    <input class="input" id="input-user" type="text" name="username" value="<%= name%>" required ><br>
		    <br>

		    <label>Password</label><br>
		    <input  class="input" id="input-password" type="password" name="password" required ><br>
		    <br>

		    <a href="" style="padding-right:50px"> Forgot password? </a>
		    <button type="submit" id="log-in-button" > Sign In </button>

      </form>
      <p> Don`t have an account? <a href="register.html" >Sign up here</a> </p>
		</script>


		<script type=text/template id="playlist-item-view">
			<img src="<%= imageLarge %>"/>
			<h3 class="name"><%= title %></h3>
			<span class="description"><%= description%></span>
			<div class="playlist-button">
				<button type="submit" id="explore-list-button">Explore playlist</button>
			</div>
		</script>

		<script type=text/template id="song-item-view">
			<img src="<%= image %>" id="image"/>
			<span class="description"><%= songAuthor%></span>
			<span class="description"><%= songLength%></span>
		</script>

		<script type=text/template id="song-list-header">
				<form>
					<button type="button" id="closeB" class="closeButton"> CLOSE </button>
				</form>
				<div class="headerPlaylist">
					<img src="<%= imageLarge %>" >
					<div class="text">
						<h4>Playing from:</h4>
						<h2><%= title %></h2>
					</div>
				</div>
				<div class="subHeaderPlaylist">
						<p id="headerSong">SONG</p>
						<p id="headerLength"> LENGTH </p>
						<p id="headerListened">LISTENED</p>
				</div>
		</script>

		<div id="container-log-in">
			<div id="container"></div>
		</div>

		<div class="wrapper">
			<div class="search-container">
				<div class="logo">
					<img src="../core/assets/logo-top.png" class="logo">
				</div>
				<div class="search-input">
					<form>
						<input type="text" name="search" placeholder="Search Music"><br>
					</form>
				</div>
				<div class="button-signIn">
					<form action="Login.html">
						<button type="submit" id="search-log-in" >Sign In</button>
					</form>
					<form>
						<button type="submit" id="search-log-out" >Log out</button>
					</form>
				</div>
				<div class="join-now" id="div-for-quote ">
					<h3><span>Ready to listen to endless music on your favorite device ?</span></h3>
					<h2 id="welcomeText"></h2>
					<form action="register.html">
						<button type="submit" id="join-now-button">JOIN NOW</button>
					</form>
					<h1 id="replace-quote">Epic and debauched party mixes</h1>
				</div>
			</div>
		</div>

		<div id="page">	</div>

		<div id="playlist-songs">
			<div id="container-list-of-songs">
			</div>
		</div>

		<p style="color:gray">&#169; 2016 ACME DIVISION. ALL RIGHTS RESERVED</p>

		<script src="../build/bundle.js"></script>
	</body>

</html>
