body{
  background-image: url("../core/assets/banner-app.jpg");

  background-size: 100% 100%;
}

.container{
  height:380px;
  width:350px;
  /*height:25%;
  width:23%;*/
  background-color: #FFF;
  margin: 150px auto ;
  padding:30px;
  border-radius: 5px;
  font-family: arial;

}
img{
 padding-left: 85px;
}

input{
  width: 300px;
  height: 30px;
  font-size: 16px;
  background-color: #f2f2f2;
  border-radius: 3px;
  border-width: 0px;
  width: 300px;
  padding-right: 10px;
}

input:focus{
  background: rgba( 51,153,255,0.2 );
  border: 1px solid rgb(51,153,255);
}

button{
  background-color: #3399ff;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border-width: 0px;
  padding: 10px 50px ;
}

a:link, a:visited{
  color:#3399ff;
  text-decoration: none;
}
